* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial Verdana sans-serif;
    padding: 2em;
    border: 2px solid blue;
}

.header h1 {
    margin-left: 200px;
    color: #f16726;
    text-shadow: 1px 1px 2px black;
    transition: font-size 2s ease-out;
    -webkit-transition: font-size 2s ease-out;
}

.header h1:hover {
    font-size: 180%;
}

/* style for device's screen min-width: 600px
1. set display flex for the body and then set the order for flex items
    aside-1 : order 1; article : order 2; aside-2: order 3; footer: order 4;
*/
.header {
    display: flex;
    flex-flow: row wrap;
    height: 64px;
    background-image: -webkit-linear-gradient(to bottom, white 0%, #facd8a 100%);
    background-image: -moz-linear-gradient(to bottom, white 0%, #facd8a 100%);
    background-image: -o-linear-gradient(to bottom, white 0%, #facd8a 100%);
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}

/* using nested flex to create drop down navigation menu. */
#nav_menu a {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-align: center;
    background-color: #7b1010;
}

#nav_menu ul a:hover, a:focus {
    background-color: silver;
}

#nav_menu ul {
    list-style: none;
    display: flex;
}

#nav_menu ul li {
    position: relative;
    width: 100%;
}

#nav_menu ul a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid black;
    color: white;
}

#nav_menu .drop-down1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.drop-down1 li {
    display: none;
    position: relative;
    background-color: #7b1010;
}

#nav_menu ul li:hover .drop-down1 li {
    display: block;
}

.section h3 {
    border-bottom: 2px solid #7b1010;
    margin: 10px 0 10px 0;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 10px;
    grid-gap: 1em;
    list-style-type: none;
}

.card {
    text-decoration: none;
}

.card-item {
    padding-bottom: 10px;
    border: 1px solid blue;
}

.card-item p {
    padding: 10px;
    text-indent: 20px;
}

.cards a:focus,
.cards a:hover {
    display: block;
    background: hsl(0, 0%, 97%);
}

.readmore {
    margin-left: 30px;
}

.footer {
    clear: both;
    background: #7b1010;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .cards {
            max-width: 25em;
            margin: 1em auto;
            padding: 0;
            display: flex;
            flex-flow: row wrap;
        }
        .card-item {
            margin-bottom: 10px;
            border: none;
        }
        .wrapper {
            display: grid;
            grid-template-areas: "header header" "nav main" "footer footer";
        }

        .header {
            grid-area: header;
        }

        #nav_menu {
            grid-area: nav;
        }

        .main {
            grid-area: main;
        }

        .footer {
            grid-area: footer;
        }

        .section h3 {
            text-align: center;
        }

        #nav_menu {
            grid-row: span 2/4;
            background-color: #7b1010;
        }

        #nav_menu ul {
            display: flex;
            flex-flow: column;
        }

        #nav_menu ul li {
            flex-direction: column;
        }

        .drop-down1 {
            position: relative;
            top: 0;
            left: 100%;
        }
    }
}


